<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Toku</title>
  <script src="https://kit.fontawesome.com/4aac91d01e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="app-container
    welcome-page
  ">

  <h1>Welcome to Toku</h1>
  <h3>The dream social network</h3>  
  </div>
  <script src="/js/components/vendor.js"></script>
  <script src="/js/components/firstComp.js"></script>
</body>
</html>
